body{
    font-family: Roboto;
    background: white;    
    display : flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.country-container span{
    font-weight: bold;
}

.country-container{
    width: 200px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 3px 10px rgba(30, 241, 40, 0.411);
}

.country-container img{
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;

}
.content-container{
    padding:16px;
}